.home-main-container {
  display: flex;
  justify-content: space-between;
}

.home-text {
  padding: 1em 0;
  margin-right: 2em;
  max-width: 60%;
}

.home-headline {
  font-size: 4em;
  text-align: left;
  background-clip: text;
  background: var(--blue-blue-background-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 3s infinite;
}

.home-p {
  font-weight: var(--main-p-weight);
  font-size: var(--main-p-size);
}

.home-image-container {
  padding: 3em 0;
  width: 40%;
}

.profile-img-home {
  cursor: pointer;
  border-radius: 1em;
  box-shadow: var(--big-shadow);
  object-fit: contain;
  max-width: 100%;
  transition-duration: .25s;
}

.profile-img-home:hover {
  box-shadow: var(--bigger-shadow);
}

.tech-container {
  border-radius: 1em;
  background: linear-gradient(200deg, var(--background-accent-color), var(--background-accent-color-shifted));
  /* box-shadow: var(--big-shadow); */
  box-shadow: 8em 8em 5em -10em #fecb2e,
              -8em -8em 5em -10em #fc3158,
              8em -8em 5em -10em #53d769,
              -8em 8em 5em -10em #5fc9f8;
  animation: pulsate-shadow 5s infinite alternate;
  padding: 2em 0;
}

.tech-logo-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo-group {
  max-width: 8%;
  padding: 3em;
}

.tech-icon {
  border-radius: 1.5em;
  max-height: 100%;
  max-width: 100%;
}

.icon-name {
  color: var(--light-text);
  letter-spacing: 2px;
}

@keyframes pulsate-shadow {
  0% {
    box-shadow: 8em 8em 5em -9em #fecb2e,
                -8em -8em 5em -9em #fc3158,
                8em -8em 5em -9em #53d769,
                -8em 8em 5em -9em #5fc9f8;
  }
  100% {
  box-shadow: 8em 8em 5em -12em #fecb2e,
              -8em -8em 5em -12em #fc3158,
              8em -8em 5em -12em #53d769,
              -8em 8em 5em -12em #5fc9f8;
  }
}

@keyframes rotate-shadow {
  0% {
    box-shadow: 8em 8em 5em -10em #fecb2e, 
                -8em -8em 5em -10em #fc3158,  
                8em -8em 5em -10em #53d769,  
                -8em 8em 5em -10em #5fc9f8;
  }
  25% {
    box-shadow: -8em 8em 5em -10em #fecb2e, 
                 -8em -8em 5em -10em #fc3158,  
                 8em 8em 5em -10em #53d769,  
                 8em -8em 5em -10em #5fc9f8;
  }
  50% {
    box-shadow: -8em -8em 5em -10em #fecb2e, 
                 8em -8em 5em -10em #fc3158,  
                 -8em 8em 5em -10em #53d769,  
                 8em 8em 5em -10em #5fc9f8;
  }
  75% {
    box-shadow: 8em -8em 5em -10em #fecb2e, 
                8em 8em 5em -10em #fc3158,  
                -8em -8em 5em -10em #53d769,  
                -8em 8em 5em -10em #5fc9f8;
  }
  100% {
    box-shadow: 8em 8em 5em -10em #fecb2e, 
                -8em -8em 5em -10em #fc3158,  
                8em -8em 5em -10em #53d769,  
                -8em 8em 5em -10em #5fc9f8;
  }
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
