.personal-p {
  text-align: left;
  font-weight: 400;
  font-size: 1.5em;
}

.photo-masonry-grid {
  display: flex;
  margin-top: 20px;
  gap: 10px;
}

.photo-masonry-grid_column {
  padding-left: 5px;
  background-clip: padding-box;
}

.photo-grid-item {
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 0.5em;
  box-shadow: -2px 4px 10px -5px #111;
  transition: transform 0.2s ease-in-out;
}

.car-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.car-image:hover {
  transform: scale(1.05);
  box-shadow: -2px 4px 10px 0 #111;
}
