h2, h3 {
  color: var(--tan-text);
  margin: 0;
}

.App {
  color: var(--light-text);
  text-align: center;
  background-color: var(--background-color);
}

.App-header {
  color: #696969;
  backdrop-filter: blur(10px) saturate(50%);
  box-shadow: inset 0 -3px 10px -7px #666, 0 0 20px -6px #111;
  position: sticky;
  top: 0;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  padding: .5em 0;
  width: 100%;
  z-index: 9;
}

.app-header-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.app-header-name {
  display: flex;
  justify-content: space-between;
  width: 4em;
  cursor: pointer;
}

.app-AB-icon {
  height: 48px;
  filter: var(--svg-filter);
  margin: 0;
}

.header-title {
  color: var(--light-text);
  margin: auto 0;
}

.header-hamburger-container {
  height: 48px;
  width: 48px;
  cursor: pointer;
  position: relative;
  z-index: 11;
}

.header-hamburger-bar {
  background-color: var(--light-text);
  box-shadow: inset 0 0 1px black;
  height: 6px;
  border-radius: 3px;
  width: 48px;
  margin: 0;
  position: relative;
  z-index: 12;
  transition-duration: .5s;
}

.hamburger-bar2 {
  top: 12px;
}

.hamburger-bar3 {
  top: 24px;
}

.header-hamburger-container:hover > .hamburger-bar1 {
  top: 21px;
  box-shadow: none;
  transform: rotate(45deg);
}

.header-hamburger-container:hover > .hamburger-bar2 {
  top: 15px;
  box-shadow: none;
  transform: rotate(-45deg);
}

.header-hamburger-container:hover > .hamburger-bar3 {
  top: 9px;
  box-shadow: none;
  transform: rotate(135deg);
}

/* 
.header-hamburger-container:hover > .hamburger-bar1 {
  top: var(--bar-1-top);
  box-shadow: var(--bar-1-shadow);
  transform: var(--bar-1-transform);
}

.header-hamburger-container:hover > .hamburger-bar2 {
  top: var(--bar-2-top);
  box-shadow: var(--bar-2-shadow);
  transform: var(--bar-2-transform);
}

.header-hamburger-container:hover > .hamburger-bar3 {
  top: var(--bar-3-top);
  box-shadow: var(--bar-3-shadow);
  transform: var(--bar-3-transform);
} */

.App-link {
  color: #61dafb;
}

.Page {
  display: flex;
  flex-direction: column;
}

.page-header {
  color: var(--green-text);
  font-weight: 500;
}

.main-paragraph {
  text-align: justify;
}

.app-main {
  font-family: "Proxima Nova", "Helvetica Neue", Helvetica, Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 1em;
}