:root {
  --background-color: #232323;
  --background-accent-color: #333;
  --background-accent-color-shifted: #555;
  --tldr-p-background-color: #147efb;
  --tldr-p-background-color-gradient: linear-gradient(180deg, #4DB7F9 1%, #147efb 100%);
  --blue-blue-background-gradient: linear-gradient(180deg, #5fc9f8, #147efb);
  --blue-to-main-bg-background: linear-gradient(180deg, #147efb 0%, #232323 60%);
  --high-contrast-text-over-blue-bg: #232323;
  --tan-text: #DDA15E;
  --green-text: #606C38;
  --accent-blue: #0077b6;
  --big-shadow: -.5em 1em 2em #111;
  /* --small-shadow: -3px 6px 12px #111; */
  --colorful-shadow:  8em 8em 5em -10em #fecb2e,
                      -8em -8em 5em -10em #fc3158,
                      8em -8em 5em -10em #53d769,
                      -8em 8em 5em -10em #5fc9f8;
  /* --colorful-shadow-0-animate */
  --colorful-shadow-small:  16px 16px 10px -15px #147efb,
                            -16px -16px 10px -15px #4DB7F9,
                            16px -16px 10px -15px #147efb,
                            -16px 16px 10px -15px #4DB7F9;
  --colorful-shadow-animation: pulsate-shadow 5s infinite alternate;
  --colorful-shadow-small-animation: pulsate-shadow-small 4s infinite alternate;
  --bigger-shadow: -.5em 1em 3em #111;
  --shadow-to-the-right: 10px 0 20px -10px #111;
  --light-text: #ddd;
  --medium-text: #aaa;
  --main-p-weight: 400;
  --main-p-size: 1.5em;
  --svg-filter: invert(90%);
  --header-height: 80px;
  --small-header-height: 50px;
  --bw-icon-filter: invert(90%);
  
  --dm-slider-dot-top: 5px;
  --dm-slider-dot-left: 45px;
  --slider-shadow: 0 0 5px black;
}

[data-theme="light"] {
  --background-color: #ddd;
  --background-accent-color: #bbb;
  --background-accent-color-shifted: #999;
  --tldr-p-background-color: #147efb;
  --blue-blue-background-gradient: linear-gradient(180deg, #0033FE, #147efb);
  --blue-to-main-bg-background: linear-gradient(180deg, #147efb 0%, #ddd 100%);
  --high-contrast-text-over-blue-bg: #eee;
  --tan-text: #DDA15E;
  --green-text: #606C38;
  --accent-blue: #0077b6;
  --big-shadow: -.5em 1em 2em #696969;
  /* --small-shadow: -3px 6px 12px #696969; */
  --bigger-shadow: -.5em 1em 3em #666;
  --shadow-to-the-right: 1px 0 20px -10px #000;
  --light-text: #232323;
  --svg-filter: invert(10%);
  --bw-icon-filter: invert(10%);

  --dm-slider-dot-top: 5px;
  --dm-slider-dot-left: 5px;
  --slider-shadow: 0 0 5px #666;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
